body{font-family:Consolas; padding-bottom:2em;}

a{text-decoration:none; color:blue;}
a:hover{text-decoration:underline;}
a:active{color:red;}

#main{width:100%; margin-bottom:2em;}
table{border-collapse:collapse; margin:auto;}

#pTableCont, #infoCont{display:block;}

#info{width:80%; padding:10%;}
#info tr:first-child{text-align:center;}
#info td{width:50%;}
text{user-select:none; cursor:default;}

#diagramCont{border:1px solid black;}
#diagram{margin:auto;}
#periodicTable td{
	width:2em;
	height:2em;
	padding:0;
	text-align:center;
	user-select:none;
}

#periodicTable > tr:nth-child(7) > td:nth-child(3){border-right:2px solid orange;}
#periodicTable > tr:nth-child(8) > td:nth-child(3){border-right:2px solid blue;}

#periodicTable > tr:nth-child(10) > td:nth-child(4){border-left:2px solid orange;}
#periodicTable > tr:nth-child(11) > td:nth-child(4){border-left:2px solid blue;}

.info{cursor:help;}
#periodicTable td.element{border:1px solid black; cursor:pointer;}
/*td{border:1px solid black;}/**/
