body{font-family:Consolas;}

a{text-decoration:none; color:blue;}
a:hover{text-decoration:underline;}
a:active{color:red;}

#main{width:100%; margin-bottom:2em;}
table{border-collapse:collapse; margin:auto;}

#tableCont, #infoCont{display:block;}

#infoCont td{padding:0; width:50%;}
#infoCont{min-width:50vw;}
#info{width:80%; padding:10%;}
#info tr:first-child{text-align:center;}
text{user-select:none; cursor:default;}

#diagramCont{border:1px solid black;}
#diagram{margin:auto;}
#author{
	position:relative;
	bottom:0;
	width:100%;
	text-align:center;
}
#periodicTable td{
	width:2em;
	height:2em;
	padding:0;
	text-align:center;
	user-select:none;
}

.info{cursor:help;}
#periodicTable td.element{border:1px solid black; cursor:pointer;}
/*td{border:1px solid black;}/**/